body {
	/*
	background-color: #f8f9fa;
	*/
	background-color: #f0f0f0;
	color: #212529;
	margin: 0;
	padding: 0;
	font-size: 85%;
}

#title {
	font-size: 300%;
	position: absolute;
	width: 1200px;
	height: 80px;
	top: 20px;
	left: 100px;
}

#import_button_label {
	position: absolute;
	top: 40px;
	left: 600px;
	width: 73px;
	height: 30px;
	color: #424242;
	background-color: white;
	border: 0;
	outline: 0;
	font: 13px Arial;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 5px 5px 0px;
}
#import_button_label:hover {
	background-color: #f8f8f8;
}
#import_button_label:active {
	background-color: #ffffff;
}
#import_button {
	display: none;
}

.grid {
	position: absolute;
	width: 600px;
	height: 450px;
	background-color: #fff;
	border: solid 1px;
}

.cr {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30px;
	height: 30px;
	background-color: #fff;
	border: solid 1px;
	border-radius: 0px;
}


.dd {
    position: absolute;
    z-index: 1000;
}

.drag {
    z-index: 1001;
}

.crtext {
	text-align: center;
	font-size: 60%;
}

.gridtitle {
	text-align: center;
}


